//COLORS
$clr-white: #fff;
$clr-black: #000;
$clr-red-one: #d11414;
$clr-yellow-one: #f9e528;
$clr-grey-1: #102a42;
$clr-grey-2: #d6d4d4;
$clr-grey-3: #f0ece3;
$clr-blue-one: #170055;
$clr-blue-two: #09009b;
$clr-blue-three: #0f00ff;
$clr-light-blue: #d3dedc;
$clr-purple-one: #3e065f;

//BODY
$box-shadow: 3px 0px 2px 0px rgba(0, 0, 0, 0.3);
$box-shadow-2: 4px 4px 3px 0px rgba(0, 0, 0, 0.3);
$transition: all 0.3s;
