footer {
  color: $clr-white;
  background: $clr-red-one;
  font-family: Source Sans Pro;
  text-align: center;
  margin-top: -1rem;
  padding: 2.5rem;
  position: absolute;
  width: 100% !important;

  .name {
    color: $clr-yellow-one;
    text-transform: uppercase;
  }

  .address {
    font-size: 14px;
    font-weight: 400;
    .break {
      font-weight: 700;
      color: $clr-yellow-one;
    }
  }
}

.social-icons {
  padding-bottom: 10px;
}

.social-icon {
  color: $clr-white;
  font-size: 2rem;
  margin: 1rem;
  transition: $transition;
  &:hover {
    color: $clr-blue-two;
  }
}

@media only screen and (max-width: 1024px) {
  footer {
    font-size: 12.5px;
  }
  .social-icon {
    font-size: 1.75rem;
    margin: 0.75rem;
  }
}
